<%- include('../shared/includes/head', { pageTitle: 'About' }) %>
<link rel="icon" type="image/png" href="images/nwu-logo.png">
</head>
  <body>
  <%- include('../shared/includes/header') %>
    <main>
      <h1>About</h1>
      
      <p>An app created for NWU students to register easily <br> <br>Please follow the video for instructions</p>
      <video src="images/dummy.mp4" controls width="300px" height="300px"></video>
      <p><a class="btn" href="/">Back to home</a></p>
  </main>
<%- include('../shared/includes/footer') %>