<%- include('../shared/includes/head', { pageTitle: 'Enquiries' }) %>
</head>
  <body>
  <%- include('../shared/includes/header') %>
    <main>
      <h1>General Enquiries</h1>
      <p>You can get assistance on...</p>
      <p><a class="btn" href="/">Back to home</a></p>
  </main>
<%- include('../shared/includes/footer') %>