<%- include('../shared/includes/head', { pageTitle: 'Enquiries' }) %>
<link rel="icon" type="image/png" href="images/nwu-logo.png">
<link rel="stylesheet" href="styles/misc.css">
</head>
  <body>
  <%- include('../shared/includes/header') %>
    <main>
      <h1>General Enquiries</h1>
      <img src="images/mascot-nwu.png" alt="mascot-image" width="150px">
      <p>Contact The North-West University <br><br>Get in touch: <br>WhatsApp line: +27 60 070 2606 <br>SMS-line: 31750 <br>
      Email: studies@mynwu.info <br> <a href="#">Direction and routes</a></p>
      <form action="">
        <textarea name="enquries" id="" cols="30" rows="10" placeholder="Write something..."></textarea>
        <p>
          <button class="btn">Send Enquiry</button>
        </p>
      <br>
      <p><a class="btn" href="/">Back to home</a></p>
      </form>
      
  </main>
<%- include('../shared/includes/footer') %>