<%- include('../shared/includes/head', { pageTitle: 'Enquiries' }) %>
</head>
  <body>
  <%- include('../shared/includes/header') %>
    <main>
      <h1>General Enquiries</h1>
      <p>Contact The North-West University <br><br>Get in touch: <br>WhatsApp line: +27 60 070 2606 <br>SMS-line: 31750 <br>
      Email: studies@mynwu.info <br> <a href="#">Direction and routes</a></p>
      <img src="images/mascot nwu.png" alt="mascot-image" width="150px">
      <p><a class="btn" href="/">Back to home</a></p>
  </main>
<%- include('../shared/includes/footer') %>