<%- include('../shared/includes/head', { pageTitle: 'North-West University' }) %>
</head>
  <body>
  <%- include('../shared/includes/header') %>
    <main>
      <h1>North-West University Student Registration App</h1>
      <p>For students - by students</p>

      <% if (!locals.isAuth) { %>
        <p><a class="btn" href="/login">Start Here</a></p>
      <% } %>

      <% if (locals.isAuth) { %>
        <p><a class="btn" href="/student/dashboard">Go To Dashboard</a></p>
      <% } %>

  </main>
<%- include('../shared/includes/footer') %>