<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Payment</h1>
      <section class="alert-payment">
        <h4>Amount Due:</h4>
            
      </section>  
    </main>
<%- include('../../shared/includes/footer') %>