<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student Registration</h1>

    </main>
<%- include('../../shared/includes/footer') %>