<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student Registration</h1>
      <h2>Modules</h2>
      <section>
        <ul>
          
          <li></li>
        </ul>
      </section>  
    </main>
<%- include('../../shared/includes/footer') %>