<%- include('../../shared/includes/head', { pageTitle: 'Student Profile' }) %>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student profile</h1>
      <p>Biographical details</p>
      <p>Course Details</p>
  </main>
<%- include('../../shared/includes/footer') %>