<%- include('../../shared/includes/head', { pageTitle: 'Student Profile' }) %>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student profile</h1>
      <h2>Biographical details</h2>
      <form action="/dashboard" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <p>
          <label for="nationality">Nationality</label>
          <input type="text" name="nationality" id="nationality" required>
        </p>
        <p>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required>
        </p>
        <p>
          <label for="idNumber">ID Number</label>
          <input type="text" name="idNumber" id="idNumber" required>
        </p>
        <p>
          <label for="gender">Gender</label>
          <select name="gender" id="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </p>
        <p>
          <label for="race">Race</label>
          <select name="race" id="race">
            <option value="Asian">Asian</option>
            <option value="Black">Black</option>
            <option value="Coloured">Coloured</option>
            <option value="Other">Other</option>
            <option value="White">White</option>
          </select>
        </p>
        <p>
          <label for="language">Home Language</label>
          <input type="text" name="language" id="language" required>
        </p>  
        <p>
          <label for="disability">Disability</label>
          <input type="checkbox" id="disability" name="disability" value="true">
        </p>
        <hr>
        <p>
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email" required>  
        </p>
        <p>
          <label for="email">Cellphone</label>
          <input type="email" name="email" id="email" required>  
        </p>
        <p>
          <label for="popiAct">Agree to POPI Act</label>
          <input type="checkbox" id="popiAct" name="popiAct" value="true">
        </p>
        <button class="btn">Edit details</button>
      </form>
      <h2>Course Details</h2>
        <p>
          <label for="courseId">ID</label>
          <input type="text" name="courseId" id="courseId"> 
        </p> 
        <p>
          <label for="courseName">Name</label>
          <input type="text" name="courseName" id="courseName"> 
        </p>
    </main>
<%- include('../../shared/includes/footer') %>