<%- include('../../shared/includes/head', { pageTitle: 'Student Profile' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/dashboard.css">
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student profile</h1>
      <h3>User: <%= %> is logged in</h3>
    </main>
<%- include('../../shared/includes/footer') %>