<ul class="nav-items">
  <li><a href="/">Home</a></li>

  <% if (locals.isAuth) { %>
    <li><a href="/student/dashboard">Dashboard</a></li>
    <li><a href="/registration">Registration</a></li>
  <% } %>

  <% if (!locals.isAuth) { %>
    <li><a href="/login">Login</a></li>
  <% } %>

  <li><a href="/enquiries">General enquiries</a></li>
  <li><a href="/about">About</a></li>

  <% if (locals.isAuth) { %>
    <li>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <button>Logout</button> 
      </form>
    </li>
  <% } %>
</ul>