h1 {
text-align: center;
}

h2 {
 text-align: center;
}

form#dashboard {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--color-primary-100);
  border-radius: var(--border-radius-medium);
  text-align: center;
}

form#dashboard a{
  color: var(--color-primary-200);
}

form#dashboard a:hover,
form#dashboard a:active {
  color: var(--color-primary-150);
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

/* additionals */

  .rt-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  

  .card-header {
    background-color: rgb(101, 104, 104);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .Update {
    cursor: pointer;
    font: inherit;
    margin-top: 1.5rem;
    padding: var(--space-2) var(--space-6);

    size: 1.5rem;
  }
  
  .card-body {
    padding: 10px;
  }
  
  
  /* Profile image styles */
  .profile_img {
    max-width: 20%;
    height: 150px;
    margin-bottom: 1px;
    cursor: pointer;
  }
  
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table,
  th,
  td {
    border: 1px solid #ccc;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }