body {
  margin-top: 0;
  text-align: center;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0 auto;
  width: 100%;    
}

#modules {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 15px;
 
}

img {
  display: flex;
  width: 180px;
  height: 114px;
  float: left;
  margin-right: 10px;
  position: relative;
  left: -180px;
  bottom: 50px;;
}

#address {
  float: right;
  position: relative;
  left: 225px;
  top: 80px;
}

#genpdf{
  margin: 0 auto;
}