<%- include('../../shared/includes/head', { pageTitle: 'Signup' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Create a new account</h1>
      <form action="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <p>
          <label for="studentNum">Student Number</label>
          <input type="text" name="studentNum" id="studentNum" required>  
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" minlength="6" required>  
        </p> 
        <button class="btn">Sign up</button>
      </form>
  </main>
<%- include('../../shared/includes/footer') %>